## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Bb]uild/
bld/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Windows App SDK / MSIX
*.appx
*.appxbundle
*.msix
*.msixbundle
AppPackages/
BundleArtifacts/

## Misc
*.log
Backup/
UpgradeLog.htm
